.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.css-1k9ek97{
  background-color: #cdc0c0 !important;
}

.words-main-bar{
  display: flex;
  width: 100%;
  height: 100%;
}

.words-content{
  height: 88vh;
}

html{
  scroll-behavior: smooth;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

.text-white{
    color:  white;
}
.text-black{
    color:  black;
}
.bg-primary-orange{
  background-color: #5fa2e5;
}
.primary-orange{
  color: #5fa2e5;
}
.org-btn{
  border: 1px solid #5fa2e5;
  color: #5fa2e5;
}
.org-btn:hover{
  background-color: #5fa2e5;
  color: white;
}

.light-grey{
  color:#6c757d;
}

.bg-light-grey{
  background-color: #6c757d;
}

.social-buttons-circle-dark-grey{
  background:  #1a1d20;
}


.center{
  text-align: center;
}

.move-up:hover{
    /* background-color: #5fa2e5; */
  /* color: white;
  transition: all .5s;
  transform : translateY(-10px); */
}

.ng-mrg-t{
  margin-top: -50px;
}


/* Footer code */
.foot{
/*   position: relative; */
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #1a1d20;
   color: white;
   text-align: center;
   top: 75px;
}

a {
  color: #6c757d ;
}
a:hover {
  text-decoration: none;
}

::selection {
  background: #5fa2e5;
  text-shadow: none;
}
.footer-column {
  text-align: center;
}
.nav-link {
      padding: 0.1rem 0;
    }
span.nav-link {
      color: #6c757d;
    }
span.nav-link:hover {
      color: #5fa2e5;
    }
span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.fas {
  margin-right: 0.5rem;
}

footer {
  padding: 2rem 0;
  background-color: #212529;
  
}

.col .card-header{
  background-color: #3391bc;
  color: white;
  font-weight: 700;
  position: relative;
}

.card-sub-header{
  background-color: #3391bc;
  color: white;
  font-weight: 500;
  padding: 0.5rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

h4.card-header, h5.card-sub-header, h3.head{
  background-color: #2f63a8;
}

.card-body p{
  text-align: left;
}

.py-4{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.card-body .setpara{
  line-height: 1rem;
  position: relative;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #5fa2e5;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color:  #1a1d20;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  margin-top: 0.5rem;
}

.sidebar ul {
  height: 100%;
  padding-left: 0rem;
}

.MuiBox-root {
  position: sticky;
  /* top: 68px; */
  min-height: 100%;
  /* width: 100%; */
  z-index: 999;
}

.sidebar {
  top: 141px;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  width: 25%;
  display:inline-block; 
  overflow-y: scroll;
}

.ilearn-logo{
  width: 100px;
  height: 100px;
}


.words-content {
  padding-left: 25%;
  /* width: 100%; */
  padding-top: 85px;
}


.cm-gp-btn {
  display: flex;
  align-items: center;
}

.cm-gp-btn button {
  padding: 12px;
}
.fixed-header {
  position: fixed !important;
  top: 0;
  min-height: 10px;
  z-index: 999;
  width: 100%;
}

.css-r6ewbb-MuiToolbar-root a {
  flex: 1;
}

.css-1nxmd3h-MuiListItem-root{
  border-bottom: 1px solid #ababab;
}

.css-m5x0z-MuiTypography-root{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #dbb59b;
}

.indicative-topbanner{
  margin-top: 90px !important;
}

.MuiTypography-h6{
  font-size: 16px;
}

.data-notfound p{
  /* margin-top: 100px; */
  margin-left: 0px;
  /* font-size: 24px; */
  color: rgb(58, 58, 58);
}

.negative-sentence .mb-3{
  height: max-content;
}

.perfect-sentence .mb-3{
  height: max-content;
}

.progressive-sentences .mb-3{
  height: max-content;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #0000ff !important;
}

.card-body .base-verb, .card-body .infinitive{
  min-width: 250px;
}

.base-container{
  display: flex;
  flex-direction: row;
}
.row>*{
  width: 50%;
}

.css-h4y409-MuiList-root {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.css-1ontqvh{
  margin: 0px !important;
  padding: 0px !important;
}

.css-r6ewbb-MuiToolbar-root {
  flex-direction: row;
  justify-content: space-between;
  /* column-gap: 22rem;
  width: 100%; */
}

.logo-head{
  display: flex;
  flex-direction: row;
  column-gap: 0px;
}

.back-icon{
  display: none;
  color: white;
}

.back-icon-mobile{
  display: none;
}

.no-verb{
  padding-top: 10rem;
  padding-left: 10rem;
}

.word-head{
  display: none;
}

.verb-head{
  margin-top: 10rem;
  margin-left: 15rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.card-header .verb {
  width: 100%;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .card-message {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 300px;
} */

.css-12o98wt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 22rem;
}
.css-16iqbst{
  align-items: center;
}

.card-body .setpara {
  line-height: 1rem;
  position: relative;    
  padding-bottom: 20px;
}

.card-header.word{
  display: none;
}

.card-body .setpara {
  line-height: 1rem;
  position: relative;
  padding-bottom: 45px
}

.negative-sentence .mb-3{
  height: 855px;
}

.perfect-sentence .mb-3{
  height: 935px;
}

.progressive-sentences .mb-3{
  height: 920px;
}

.positive-sentence .mb-3{
  height: 825px;
}

.audioref-controls {
  position: absolute;
  top: 73px;
  right: 0;
  transform: translate(-50%,-50%);
  left: 50%;
  z-index: 99;
}

.audioref-controls audio {
  width: 260px;
}

h4.main-verb{
  text-transform: uppercase;
  text-decoration: solid;
}

.setpara .gif-image{
  width: 250px;
  height: 250px;
}

@media only screen and (max-width:600px) {

  .css-12o98wt {
    justify-content: flex-end;
    column-gap: 16rem;

  }

  .main-verb{
    display: none;
  }

  .card-body .setpara {  
    line-height: 1.2rem; 
    padding-bottom: 30px ;
  }

  .negative-sentence .mb-3{
    height: 670px;
  }

  .perfect-sentence .mb-3{
    height: 750px;
  }

  .progressive-sentences .mb-3{
    height: 750px;
  }

  .positive-sentence .mb-3{
    height: 670px;
  }

  .audioref-controls audio {
    width: 100%;
  }

  .audioref-controls {
    transform: translate(0%,0%);
    left: 50%;
    margin-right: 1px;
    top: 43px;
    right: 0;
  }

  .css-r6ewbb-MuiToolbar-root{
    margin-left: 2rem;
    /* column-gap: 10rem;
    margin-left: 2rem; */
  }

  *{
    font-size: small;
  }
  
  img.ilearn-logo{
    display: flex !important;
    z-index: 999;
  }

  
  .px-4 {
    padding-right: 0%!important;
    padding-left: 0%!important;
  }

  .words-content{
    margin-top: 1rem;
    padding-left: 0px;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .words-main-bar{
    min-width: fit-content;
    overflow-x: hidden;
  }

  .mobile-content{
    margin-top: 10px;
    padding-top: 20px;
    display: none;
  }

  .mobile-sidebar-on{
    display: none;
  }

  .cm-gp-btn button {
    padding: 5px;
  }

  .back-icon-mobile{
    display: block;
  }

  .word-head{
    display: block;
    margin-top: 10rem;
  }


  h3.head{
    color: white;
    background-color: #2f63a8;
    margin-bottom: 0px;
    width: 200px;
    border-radius: 5px;
  }

  .sidebar{
    top: 95px;
    min-width: 100%;
  }

  .no-verb{
    margin-top: 2rem;
    padding-left: 2rem;
  }

  .ilearn-logo{
    width: 20px;
    height: 20px;
  }

  .indicative{
    margin-top: 20px !important;
  }

  .move-up:hover{
    transition: 0;
    transform : translateY(0px);
  }

  .col{
    min-width: 200px;
  }

  .verb-head{
    margin-left: 4rem;
  }

  .card-message {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 5rem;
    max-width: 300px;
    margin-left: 2.8rem;
  }

  .card-header.word{
    text-transform: uppercase;
    display: flex;
    position: fixed !important;
    width: 96%;
    z-index: 999;
    border-radius: 5px;
    margin-top: -3.5rem;
    margin-left: -6px !important;
    padding: 0.5rem;
    color: white;
    /* box-shadow: 0 -15px 15px -15px #333; */
  }

  .card-header.word.message {
    text-transform: uppercase;
    display: flex;
    position: fixed !important;
    width: 96%;
    z-index: 999;
    border-radius: 5px;
    margin-top: -12rem;
    margin-left: -4.2rem !important;
    padding: 0.5rem;
    color: white;
  }

  .css-1776fzg-MuiInputBase-root .MuiInputBase-input{
    width: 110px;
  }

  .justify-content-around {
    justify-content: space-between !important;
  }

  .row>* {
    width: 100%;
  }
}


